.vscode

*.out
*.cubin
*.pyc
*.so
__pycache__/
.venv/
.fooenv/

# PyTorch profiler results.
trace*.json
profile_*.json
spio_functional_*.json
torch_*.json
train_*.json
inference_*.json
*.dat
*.ssv
*.ubj


build/
spio/cuda/driver.c

spio.egg-info/
